<div class="col-md-8 box center-block">
	<h3 class="text-center">Purchase Details</h3>
	<h4 class="text-center">Your Balance: <%= humanized_money_with_symbol(current_user.balance.amount_cents) %></h4><br>
	<div class="row purchase-details">
		<div class="col-md-7 pull-left">
			<%= image_tag(@product.product_image) if @product.product_image? %>
		</div>
		<div class="col-md-5">
			<h4><strong><%= @product.name %></strong></h4>
			<h4><%= humanized_money_with_symbol(@product.price_cents)%></h4>
			<p><%= @product.description %></p>
		</div>
	</div>
	<h4 class="text-center">Seller: <%= @product.user.email %></h4><br>
	<%= form_for [@product, @purchase] do |f| %>
		<div class="input-group">
		   <span class="input-group-btn">
				<%= f.submit "Confirm & Buy", class: "btn btn-secondary form-control" %>
			</span>
		</div>
	<% end %>
</div>