
<div class="banner">
	<%= image_tag "banner" %>
</div>

<div class="row latest">
	<h3 class="text-center row-title">Recently Added</h3>
	<% Product.order("created_at DESC").where.not(quantity: 0).limit(4).each do |product| %>
		<div class="col-md-3 text-center">
			<%= link_to product_path(product) do %>
			<div class="product-wrapper">
				<%= image_tag(product.product_image_url(:normal)) if product.product_image? %>
				<h4><%= product.name %></h4>
				<h4 class="price"><%= humanized_money_with_symbol(product.price_cents) %></h4>
				<h5><%= product.user.name %></h5>
			</div>
			<% end %>
		</div>
	<% end %>
</div>

<div class="row">
	<h3 class="text-center row-title">Incredibly Versatile</h3>
	<div class="col-md-4">
		<div class="box">
			<h4 class="text-center">Belizean tailored</h4><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur adipisci, qui itaque consequuntur dolore eveniet tempora et quidem tempore doloremque facere illum eos, impedit rem minus, dicta excepturi maxime sed.</p><br>
			<p class="text-center"><%= link_to "Learn More", root_path, class: "btn btn-secondary" %></p>

		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<h4 class="text-center">Seamless delivery integration</h4><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur adipisci, qui itaque consequuntur dolore eveniet tempora et quidem tempore doloremque facere illum eos, impedit rem minus, dicta excepturi maxime sed.</p><br>
			<p class="text-center"><%= link_to "Learn More", root_path, class: "btn btn-secondary" %></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<h4 class="text-center">Local payment methods</h4><br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur adipisci, qui itaque consequuntur dolore eveniet tempora et quidem tempore doloremque facere illum eos, impedit rem minus, dicta excepturi maxime sed.</p><br>
			<p class="text-center"><%= link_to "Learn More", root_path, class: "btn btn-secondary" %></p>
		</div>
	</div>
</div>

<div class="row near-you">
	<h3 class="text-center row-title">Near Your Location</h3>
	<% Product.order("created_at DESC").where.not(quantity: 0).limit(4).each do |product| %>
		<div class="col-md-3 text-center">
			<div class="product-wrapper">
				<%= image_tag(product.product_image_url(:normal)) if product.product_image? %>
				<h4><%= link_to product.name, product_path(product) %></h4>
				<h4 class="price"><%= humanized_money_with_symbol(product.price_cents) %></h4>
				<h5><%= product.user.name %></h5>
			</div>
		</div>
	<% end %>
</div>


