
<div class="banner">
	<div class="headline">
		<h2 class="text-center">Register today to create your own shop & starting making money locally</h2>
		<% if user_signed_in? %>
		    <%= link_to "Dashboard", dashboard_path, class: "btn btn-secondary btn-lg" %>
		<% else %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary btn-lg" %>
		<% end %>
	</div>
	<%= image_tag "banner" %>
</div>

<div class="row latest">
	<h3 class="text-center row-title">Latest</h3>
	<% Product.order("created_at DESC").each do |product| %>
	<div class="col-md-3">
		<div class="product-wrapper">
			<%= image_tag(product.product_image.normal) if product.product_image? %>
			<h4 class="text-center"><%= link_to product.name, product_path(product) %></h4>
			<h4 class="text-center"><%= humanized_money_with_symbol(product.price_cents) %></h4>
			<h5 class="text-center">Seller: <%= product.shop.name %></h5>
		</div>
	</div>
	<% end %>
</div>
<div class="row">
	<h3 class="text-center row-title">Shops</h3>
	<div class="col-md-4">
		<div class="box">
			<h3>Shop name</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<h3>Shop name</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<h3>Shop name</h3>
		</div>
	</div>
</div>
<div class="row">
	<h3 class="text-center row-title">Recently Sold</h3>
		<div class="col-md-3">
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio veniam quas mollitia harum inventore recusandae deserunt error, placeat aliquid fugit voluptatibus blanditiis culpa similique, earum non, asperiores distinctio expedita.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio veniam quas mollitia harum inventore recusandae deserunt error, placeat aliquid fugit voluptatibus blanditiis culpa similique, earum non, asperiores distinctio expedita.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio veniam quas mollitia harum inventore recusandae deserunt error, placeat aliquid fugit voluptatibus blanditiis culpa similique, earum non, asperiores distinctio expedita.</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio veniam quas mollitia harum inventore recusandae deserunt error, placeat aliquid fugit voluptatibus blanditiis culpa similique, earum non, asperiores distinctio expedita.</p>
		</div>
	</div>
</div>