<div class="row">
	<div class="col-md-8 center-block">
		<div class="box">
			<h3 class="text-center">Manage your account</h3><br>
			<div class="row">
				<div class="col-md-6">
					<h4 class="text-center">Profile</h4><br>
					<%= image_tag(current_user.profile_image.tiny) if current_user.profile_image.tiny? %>
					<%= form_for [:dashboard, current_user], method: :put do |f| %>
						<div class="form-group">
							<%= f.label :profile_image, "Select profile image" %>
							<%= f.file_field :profile_image %>
						</div>
						<div class="form-group">
							<%= f.submit "Update", class: "btn btn-secondary" %>
						</div>
					<% end %>
				</div>
				<div class="col-md-6 text-center">
					<h4 class="danger">Danger Zone</h4><br>
					<%= button_to "Delete account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
				</div>
			</div>
		</div>
	</div>
</div>