<div class="box">
	<p class="text-center"><%= link_to "New Product", new_dashboard_product_path, class: "btn btn-secondary" %></p>
	<%if current_user.products.present? %>
		<table class="table table-striped"><br>
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Image</th>
		        <th>Quantity</th>
		        <th>Price</th>
		        <th>Manage</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @products.each do |product| %>
				  <tr>
			        <td><%= product.name %></td>
			        <td><%= image_tag(product.product_image.tiny) if product.product_image.tiny.present? %></td>
			        <td><%= product.quantity %></td>
			        <td><%= humanized_money_with_symbol(product.price_cents) %></td>
			        <td><%= link_to "Edit", root_path, class: "btn btn-secondary btn-xs" %> <%= link_to "Delete", dashboard_product_path(product), method: :delete, class: "btn btn-danger btn-xs" %></td>
			      </tr>
		    	<% end %>
		    </tbody>
		</table>
	<% end %>
</div>
