<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<%= link_to "Purchase Power", root_path %>
		</li>
		<li>
			<%= link_to "Dashboard", dashboard_path %>
		</li>
		<li>
			<%= link_to "Products", dashboard_products_path %>
		</li>
		<li>
			<%= link_to "Purchases", dashboard_purchases_path %>
		</li>
		<li>
			<%= link_to "Account", dashboard_account_path %>
		</li>
		<li>
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		</li>
	</ul>
</div>
	<!-- /#sidebar-wrapper -->