<div class="row">
	<h3 class="text-center">Welcome, <%= current_user.name %></h3>
	<h4 class="text-center">Your Balance: <%= humanized_money_with_symbol(current_user.balance.amount_cents) %></h4><br>
	<div class="col-md-5 center-block">
		<%= form_for [current_user.balance], method: :put do |f| %>
			<div class="input-group">
				<%= text_field_tag 'codes[code]', "", class: "form-control", placeholder: "Enter claim code" %>
				<span class="input-group-btn">
					<%= f.submit "Redeem", class: "btn btn-secondary" %>
				</span>
			</div>
			<% end %> 
	</div>
</div>