<div class="box">
	<p class="text-center"><%= link_to "New Product", products_new_path, class: "btn btn-secondary" %></p>
	<table class="table table-striped"><br>
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Image</th>
	        <th>Quantity</th>
	        <th>Price</th>
	        <th>Manage</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @products.each do |product| %>
			  <tr>
		        <td><%= product.name %></td>
		        <td><%= image_tag(product.product_image.tiny) if product.product_image.tiny.present? %></td>
		        <td><%= product.quantity %></td>
		        <td>john@example.com</td>
		        <td><%= link_to "Edit", root_path, class: "btn btn-secondary btn-xs" %> <%= link_to "Delete", root_path, class: "btn btn-danger btn-xs" %></td>
		      </tr>
	    	<% end %>
	    </tbody>
	</table>
</div>