<div class="row products-index">
	</div>
		<% @products.each do |product| %>
			<div class="col-md-3 text-center">
				<div class="product-wrapper">
					<%= image_tag(product.product_image.normal) if product.product_image? %>
					<h4><%= link_to product.name, product_path(product) %></h4>
					<h4><%= humanized_money_with_symbol(product.price_cents) %></h4>
					<h5><%= product.user.email %></h5>
					<%= link_to "Buy", new_product_purchase_path(product), class: "btn btn-primary form-control" %>
				</div>
			</div>
		<% end %>
</div>