<div class="col-md-6 center-block box">
	<h3 class="text-center">Add a new product</h3>
	<%= form_for @product, html: {multipart: true} do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :quantity %>
			<%= f.number_field :quantity, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :price_cents, "Price" %>
			<%= f.text_field :price_cents, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :product_image, "Select product image" %>
			<%= f.file_field :product_image %>
		</div>
		<%= f.submit "Create Product", class: "form-control btn btn-primary" %>
	<% end %>
</div>

