<div class="row show">
		<div class="col-md-6 show-product-image-wrapper">
			<%= image_tag(@product.product_image_url, class: "product-image") if @product.product_image? %>
			<div class="title">
				<h3><%= @product.name %></h3>
			</div>
		</div>
		<div class="col-md-5 pull-right seller-wrapper">
			<div class="row">
				<div class="col-md-6 seller-info">
					<h4>Seller: <%= link_to @product.user.name, root_path %></h4>
					<h4>Price: <%= humanized_money_with_symbol(@product.price_cents) %></h4>
					<h4>Quantity: <%= @product.quantity %></h4>
				</div>
				<div class="col-md-6">
					<%= image_tag("purchase") %>
					<p><%= @product.description %></p>
				</div>
			</div>
			<%=link_to "Purchase", new_product_purchase_path(@product), class: "btn btn-secondary form-control" %>
		</div>
</div>

<div class="row other-products">
		<h3 class="underline text-center">Other Products</h3>
		<% Product.order("RANDOM()").where.not(id: @product.id).limit(4).each do |product| %>
			<div class="col-md-3 text-center">
				<%= link_to product_path(product) do %>
				<div class="product-wrapper">
					<%= image_tag(product.product_image_url(:normal)) if product.product_image? %>
					<div class="product-details">
						<h5 class="text-center"><%= product.name %></h5>
						<h5 class="text-center price">Price: <%= humanized_money_with_symbol(@product.price_cents) %></h5>
					</div>
				</div>
				<% end %>
			</div>
		<% end %>
</div>
